
.flag_big {
    width: 32px !important;
    height: 32px !important;
    background: url(../images/flags_big.png) no-repeat
}

.flag_big.flag-ad {
    background-position: -32px 0
}

.flag_big.flag-ae {
    background-position: -64px 0
}

.flag_big.flag-af {
    background-position: -96px 0
}

.flag_big.flag-ag {
    background-position: -128px 0
}

.flag_big.flag-ai {
    background-position: -160px 0
}

.flag_big.flag-al {
    background-position: -192px 0
}

.flag_big.flag-am {
    background-position: -224px 0
}

.flag_big.flag-an {
    background-position: -256px 0
}

.flag_big.flag-ao {
    background-position: -288px 0
}

.flag_big.flag-ar {
    background-position: -320px 0
}

.flag_big.flag-as {
    background-position: -352px 0
}

.flag_big.flag-at {
    background-position: -384px 0
}

.flag_big.flag-au {
    background-position: -416px 0
}

.flag_big.flag-aw {
    background-position: -448px 0
}

.flag_big.flag-az {
    background-position: 0 -32px
}

.flag_big.flag-ba {
    background-position: -32px -32px
}

.flag_big.flag-bb {
    background-position: -64px -32px
}

.flag_big.flag-bd {
    background-position: -96px -32px
}

.flag_big.flag-be {
    background-position: -128px -32px
}

.flag_big.flag-bf {
    background-position: -160px -32px
}

.flag_big.flag-bg {
    background-position: -192px -32px
}

.flag_big.flag-bh {
    background-position: -224px -32px
}

.flag_big.flag-bi {
    background-position: -256px -32px
}

.flag_big.flag-bj {
    background-position: -288px -32px
}

.flag_big.flag-bm {
    background-position: -320px -32px
}

.flag_big.flag-bn {
    background-position: -352px -32px
}

.flag_big.flag-bo {
    background-position: -384px -32px
}

.flag_big.flag-br {
    background-position: -416px -32px
}

.flag_big.flag-bs {
    background-position: -448px -32px
}

.flag_big.flag-bt {
    background-position: 0 -64px
}

.flag_big.flag-bw {
    background-position: -32px -64px
}

.flag_big.flag-by {
    background-position: -64px -64px
}

.flag_big.flag-bz {
    background-position: -96px -64px
}

.flag_big.flag-ca {
    background-position: -128px -64px
}

.flag_big.flag-cd {
    background-position: -160px -64px
}

.flag_big.flag-cf {
    background-position: -192px -64px
}

.flag_big.flag-cg {
    background-position: -224px -64px
}

.flag_big.flag-ch {
    background-position: -256px -64px
}

.flag_big.flag-ci {
    background-position: -288px -64px
}

.flag_big.flag-ck {
    background-position: -320px -64px
}

.flag_big.flag-cl {
    background-position: -352px -64px
}

.flag_big.flag-cm {
    background-position: -384px -64px
}

.flag_big.flag-cn {
    background-position: -416px -64px
}

.flag_big.flag-co {
    background-position: -448px -64px
}

.flag_big.flag-cr {
    background-position: 0 -96px
}

.flag_big.flag-cu {
    background-position: -32px -96px
}

.flag_big.flag-cv {
    background-position: -64px -96px
}

.flag_big.flag-cy {
    background-position: -96px -96px
}

.flag_big.flag-cz {
    background-position: -128px -96px
}

.flag_big.flag-de {
    background-position: -160px -96px
}

.flag_big.flag-dj {
    background-position: -192px -96px
}

.flag_big.flag-dk {
    background-position: -224px -96px
}

.flag_big.flag-dm {
    background-position: -256px -96px
}

.flag_big.flag-do {
    background-position: -288px -96px
}

.flag_big.flag-dz {
    background-position: -320px -96px
}

.flag_big.flag-ec {
    background-position: -352px -96px
}

.flag_big.flag-ee {
    background-position: -384px -96px
}

.flag_big.flag-eg {
    background-position: -416px -96px
}

.flag_big.flag-eh {
    background-position: -448px -96px
}

.flag_big.flag-er {
    background-position: 0 -128px
}

.flag_big.flag-es {
    background-position: -32px -128px
}

.flag_big.flag-et {
    background-position: -64px -128px
}

.flag_big.flag-fi {
    background-position: -96px -128px
}

.flag_big.flag-fj {
    background-position: -128px -128px
}

.flag_big.flag-fm {
    background-position: -160px -128px
}

.flag_big.flag-fo {
    background-position: -192px -128px
}

.flag_big.flag-fr {
    background-position: -224px -128px
}

.flag_big.flag-ga {
    background-position: -256px -128px
}

.flag_big.flag-gb {
    background-position: -288px -128px
}

.flag_big.flag-gd {
    background-position: -320px -128px
}

.flag_big.flag-ge {
    background-position: -352px -128px
}

.flag_big.flag-gg {
    background-position: -384px -128px
}

.flag_big.flag-gh {
    background-position: -416px -128px
}

.flag_big.flag-gi {
    background-position: -448px -128px
}

.flag_big.flag-gl {
    background-position: 0 -160px
}

.flag_big.flag-gm {
    background-position: -32px -160px
}

.flag_big.flag-gn {
    background-position: -64px -160px
}

.flag_big.flag-gp {
    background-position: -96px -160px
}

.flag_big.flag-gq {
    background-position: -128px -160px
}

.flag_big.flag-gr {
    background-position: -160px -160px
}

.flag_big.flag-gt {
    background-position: -192px -160px
}

.flag_big.flag-gu {
    background-position: -224px -160px
}

.flag_big.flag-gw {
    background-position: -256px -160px
}

.flag_big.flag-gy {
    background-position: -288px -160px
}

.flag_big.flag-hk {
    background-position: -320px -160px
}

.flag_big.flag-hn {
    background-position: -352px -160px
}

.flag_big.flag-hr {
    background-position: -384px -160px
}

.flag_big.flag-ht {
    background-position: -416px -160px
}

.flag_big.flag-hu {
    background-position: -448px -160px
}

.flag_big.flag-id {
    background-position: 0 -192px
}

.flag_big.flag-ie {
    background-position: -32px -192px
}

.flag_big.flag-il {
    background-position: -64px -192px
}

.flag_big.flag-im {
    background-position: -96px -192px
}

.flag_big.flag-in {
    background-position: -128px -192px
}

.flag_big.flag-iq {
    background-position: -160px -192px
}

.flag_big.flag-ir {
    background-position: -192px -192px
}

.flag_big.flag-is {
    background-position: -224px -192px
}

.flag_big.flag-it {
    background-position: -256px -192px
}

.flag_big.flag-je {
    background-position: -288px -192px
}

.flag_big.flag-jm {
    background-position: -320px -192px
}

.flag_big.flag-jo {
    background-position: -352px -192px
}

.flag_big.flag-jp {
    background-position: -384px -192px
}

.flag_big.flag-ke {
    background-position: -416px -192px
}

.flag_big.flag-kg {
    background-position: -448px -192px
}

.flag_big.flag-kh {
    background-position: 0 -224px
}

.flag_big.flag-ki {
    background-position: -32px -224px
}

.flag_big.flag-km {
    background-position: -64px -224px
}

.flag_big.flag-kn {
    background-position: -96px -224px
}

.flag_big.flag-kp {
    background-position: -128px -224px
}

.flag_big.flag-kr {
    background-position: -160px -224px
}

.flag_big.flag-kw {
    background-position: -192px -224px
}

.flag_big.flag-ky {
    background-position: -224px -224px
}

.flag_big.flag-kz {
    background-position: -256px -224px
}

.flag_big.flag-la {
    background-position: -288px -224px
}

.flag_big.flag-lb {
    background-position: -320px -224px
}

.flag_big.flag-lc {
    background-position: -352px -224px
}

.flag_big.flag-li {
    background-position: -384px -224px
}

.flag_big.flag-lk {
    background-position: -416px -224px
}

.flag_big.flag-lr {
    background-position: -448px -224px
}

.flag_big.flag-ls {
    background-position: 0 -256px
}

.flag_big.flag-lt {
    background-position: -32px -256px
}

.flag_big.flag-lu {
    background-position: -64px -256px
}

.flag_big.flag-lv {
    background-position: -96px -256px
}

.flag_big.flag-ly {
    background-position: -128px -256px
}

.flag_big.flag-ma {
    background-position: -160px -256px
}

.flag_big.flag-mc {
    background-position: -192px -256px
}

.flag_big.flag-md {
    background-position: -224px -256px
}

.flag_big.flag-me {
    background-position: -256px -256px
}

.flag_big.flag-mg {
    background-position: -288px -256px
}

.flag_big.flag-mh {
    background-position: -320px -256px
}

.flag_big.flag-mk {
    background-position: -352px -256px
}

.flag_big.flag-ml {
    background-position: -384px -256px
}

.flag_big.flag-mm {
    background-position: -416px -256px
}

.flag_big.flag-mn {
    background-position: -448px -256px
}

.flag_big.flag-mo {
    background-position: 0 -288px
}

.flag_big.flag-mq {
    background-position: -32px -288px
}

.flag_big.flag-mr {
    background-position: -64px -288px
}

.flag_big.flag-ms {
    background-position: -96px -288px
}

.flag_big.flag-mt {
    background-position: -128px -288px
}

.flag_big.flag-mu {
    background-position: -160px -288px
}

.flag_big.flag-mv {
    background-position: -192px -288px
}

.flag_big.flag-mw {
    background-position: -224px -288px
}

.flag_big.flag-mx {
    background-position: -256px -288px
}

.flag_big.flag-my {
    background-position: -288px -288px
}

.flag_big.flag-mz {
    background-position: -320px -288px
}

.flag_big.flag-na {
    background-position: -352px -288px
}

.flag_big.flag-nc {
    background-position: -384px -288px
}

.flag_big.flag-ne {
    background-position: -416px -288px
}

.flag_big.flag-ng {
    background-position: -448px -288px
}

.flag_big.flag-ni {
    background-position: 0 -320px
}

.flag_big.flag-nl {
    background-position: -32px -320px
}

.flag_big.flag-no {
    background-position: -64px -320px
}

.flag_big.flag-np {
    background-position: -96px -320px
}

.flag_big.flag-nr {
    background-position: -128px -320px
}

.flag_big.flag-nz {
    background-position: -160px -320px
}

.flag_big.flag-om {
    background-position: -192px -320px
}

.flag_big.flag-pa {
    background-position: -224px -320px
}

.flag_big.flag-pe {
    background-position: -256px -320px
}

.flag_big.flag-pf {
    background-position: -288px -320px
}

.flag_big.flag-pg {
    background-position: -320px -320px
}

.flag_big.flag-ph {
    background-position: -352px -320px
}

.flag_big.flag-pk {
    background-position: -384px -320px
}

.flag_big.flag-pl {
    background-position: -416px -320px
}

.flag_big.flag-pr {
    background-position: -448px -320px
}

.flag_big.flag-ps {
    background-position: 0 -352px
}

.flag_big.flag-pt {
    background-position: -32px -352px
}

.flag_big.flag-pw {
    background-position: -64px -352px
}

.flag_big.flag-py {
    background-position: -96px -352px
}

.flag_big.flag-qa {
    background-position: -128px -352px
}

.flag_big.flag-re {
    background-position: -160px -352px
}

.flag_big.flag-ro {
    background-position: -192px -352px
}

.flag_big.flag-rs {
    background-position: -224px -352px
}

.flag_big.flag-ru {
    background-position: -256px -352px
}

.flag_big.flag-rw {
    background-position: -288px -352px
}

.flag_big.flag-sa {
    background-position: -320px -352px
}

.flag_big.flag-sb {
    background-position: -352px -352px
}

.flag_big.flag-sc {
    background-position: -384px -352px
}

.flag_big.flag-sd {
    background-position: -416px -352px
}

.flag_big.flag-se {
    background-position: -448px -352px
}

.flag_big.flag-sg {
    background-position: 0 -384px
}

.flag_big.flag-si {
    background-position: -32px -384px
}

.flag_big.flag-sk {
    background-position: -64px -384px
}

.flag_big.flag-sl {
    background-position: -96px -384px
}

.flag_big.flag-sm {
    background-position: -128px -384px
}

.flag_big.flag-sn {
    background-position: -160px -384px
}

.flag_big.flag-so {
    background-position: -192px -384px
}

.flag_big.flag-sr {
    background-position: -224px -384px
}

.flag_big.flag-st {
    background-position: -256px -384px
}

.flag_big.flag-sv {
    background-position: -288px -384px
}

.flag_big.flag-sy {
    background-position: -320px -384px
}

.flag_big.flag-sz {
    background-position: -352px -384px
}

.flag_big.flag-tc {
    background-position: -384px -384px
}

.flag_big.flag-td {
    background-position: -416px -384px
}

.flag_big.flag-tg {
    background-position: -448px -384px
}

.flag_big.flag-th {
    background-position: 0 -416px
}

.flag_big.flag-tj {
    background-position: -32px -416px
}

.flag_big.flag-tl {
    background-position: -64px -416px
}

.flag_big.flag-tm {
    background-position: -96px -416px
}

.flag_big.flag-tn {
    background-position: -128px -416px
}

.flag_big.flag-to {
    background-position: -160px -416px
}

.flag_big.flag-tr {
    background-position: -192px -416px
}

.flag_big.flag-tt {
    background-position: -224px -416px
}

.flag_big.flag-tv {
    background-position: -256px -416px
}

.flag_big.flag-tw {
    background-position: -288px -416px
}

.flag_big.flag-tz {
    background-position: -320px -416px
}

.flag_big.flag-ua {
    background-position: -352px -416px
}

.flag_big.flag-ug {
    background-position: -384px -416px
}

.flag_big.flag-us {
    background-position: -416px -416px
}

.flag_big.flag-uy {
    background-position: -448px -416px
}

.flag_big.flag-uz {
    background-position: 0 -448px
}

.flag_big.flag-va {
    background-position: -32px -448px
}

.flag_big.flag-vc {
    background-position: -64px -448px
}

.flag_big.flag-ve {
    background-position: -96px -448px
}

.flag_big.flag-vg {
    background-position: -128px -448px
}

.flag_big.flag-vi {
    background-position: -160px -448px
}

.flag_big.flag-vn {
    background-position: -192px -448px
}

.flag_big.flag-vu {
    background-position: -224px -448px
}

.flag_big.flag-ws {
    background-position: -256px -448px
}

.flag_big.flag-ye {
    background-position: -288px -448px
}

.flag_big.flag-za {
    background-position: -320px -448px
}

.flag_big.flag-zm {
    background-position: -352px -448px
}

.flag_big.flag-zw {
    background-position: -384px -448px
}

.flag {
    width: 16px !important;
    height: 11px !important;
    background: url(../images/flags.png) no-repeat;
    border: none !important
}

.flag.flag-ad {
    background-position: -16px 0
}

.flag.flag-ae {
    background-position: -32px 0
}

.flag.flag-af {
    background-position: -48px 0
}

.flag.flag-ag {
    background-position: -64px 0
}

.flag.flag-ai {
    background-position: -80px 0
}

.flag.flag-al {
    background-position: -96px 0
}

.flag.flag-am {
    background-position: -112px 0
}

.flag.flag-an {
    background-position: -128px 0
}

.flag.flag-ao {
    background-position: -144px 0
}

.flag.flag-ar {
    background-position: -160px 0
}

.flag.flag-as {
    background-position: -176px 0
}

.flag.flag-at {
    background-position: -192px 0
}

.flag.flag-au {
    background-position: -208px 0
}

.flag.flag-aw {
    background-position: -224px 0
}

.flag.flag-az {
    background-position: -240px 0
}

.flag.flag-ba {
    background-position: 0 -11px
}

.flag.flag-bb {
    background-position: -16px -11px
}

.flag.flag-bd {
    background-position: -32px -11px
}

.flag.flag-be {
    background-position: -48px -11px
}

.flag.flag-bf {
    background-position: -64px -11px
}

.flag.flag-bg {
    background-position: -80px -11px
}

.flag.flag-bh {
    background-position: -96px -11px
}

.flag.flag-bi {
    background-position: -112px -11px
}

.flag.flag-bj {
    background-position: -128px -11px
}

.flag.flag-bm {
    background-position: -144px -11px
}

.flag.flag-bn {
    background-position: -160px -11px
}

.flag.flag-bo {
    background-position: -176px -11px
}

.flag.flag-br {
    background-position: -192px -11px
}

.flag.flag-bs {
    background-position: -208px -11px
}

.flag.flag-bt {
    background-position: -224px -11px
}

.flag.flag-bv {
    background-position: -240px -11px
}

.flag.flag-bw {
    background-position: 0 -22px
}

.flag.flag-by {
    background-position: -16px -22px
}

.flag.flag-bz {
    background-position: -32px -22px
}

.flag.flag-ca {
    background-position: -48px -22px
}

.flag.flag-catalonia {
    background-position: -64px -22px
}

.flag.flag-cd {
    background-position: -80px -22px
}

.flag.flag-cf {
    background-position: -96px -22px
}

.flag.flag-cg {
    background-position: -112px -22px
}

.flag.flag-ch {
    background-position: -128px -22px
}

.flag.flag-ci {
    background-position: -144px -22px
}

.flag.flag-ck {
    background-position: -160px -22px
}

.flag.flag-cl {
    background-position: -176px -22px
}

.flag.flag-cm {
    background-position: -192px -22px
}

.flag.flag-cn {
    background-position: -208px -22px
}

.flag.flag-co {
    background-position: -224px -22px
}

.flag.flag-cr {
    background-position: -240px -22px
}

.flag.flag-cu {
    background-position: 0 -33px
}

.flag.flag-cv {
    background-position: -16px -33px
}

.flag.flag-cw {
    background-position: -32px -33px
}

.flag.flag-cy {
    background-position: -48px -33px
}

.flag.flag-cz {
    background-position: -64px -33px
}

.flag.flag-de {
    background-position: -80px -33px
}

.flag.flag-dj {
    background-position: -96px -33px
}

.flag.flag-dk {
    background-position: -112px -33px
}

.flag.flag-dm {
    background-position: -128px -33px
}

.flag.flag-do {
    background-position: -144px -33px
}

.flag.flag-dz {
    background-position: -160px -33px
}

.flag.flag-ec {
    background-position: -176px -33px
}

.flag.flag-ee {
    background-position: -192px -33px
}

.flag.flag-eg {
    background-position: -208px -33px
}

.flag.flag-eh {
    background-position: -224px -33px
}

.flag.flag-england {
    background-position: -240px -33px
}

.flag.flag-er {
    background-position: 0 -44px
}

.flag.flag-es {
    background-position: -16px -44px
}

.flag.flag-et {
    background-position: -32px -44px
}

.flag.flag-eu {
    background-position: -48px -44px
}

.flag.flag-fi {
    background-position: -64px -44px
}

.flag.flag-fj {
    background-position: -80px -44px
}

.flag.flag-fk {
    background-position: -96px -44px
}

.flag.flag-fm {
    background-position: -112px -44px
}

.flag.flag-fo {
    background-position: -128px -44px
}

.flag.flag-fr {
    background-position: -144px -44px
}

.flag.flag-ga {
    background-position: -160px -44px
}

.flag.flag-gb {
    background-position: -176px -44px
}

.flag.flag-gd {
    background-position: -192px -44px
}

.flag.flag-ge {
    background-position: -208px -44px
}

.flag.flag-gf {
    background-position: -224px -44px
}

.flag.flag-gg {
    background-position: -240px -44px
}

.flag.flag-gh {
    background-position: 0 -55px
}

.flag.flag-gi {
    background-position: -16px -55px
}

.flag.flag-gl {
    background-position: -32px -55px
}

.flag.flag-gm {
    background-position: -48px -55px
}

.flag.flag-gn {
    background-position: -64px -55px
}

.flag.flag-gp {
    background-position: -80px -55px
}

.flag.flag-gq {
    background-position: -96px -55px
}

.flag.flag-gr {
    background-position: -112px -55px
}

.flag.flag-gs {
    background-position: -128px -55px
}

.flag.flag-gt {
    background-position: -144px -55px
}

.flag.flag-gu {
    background-position: -160px -55px
}

.flag.flag-gw {
    background-position: -176px -55px
}

.flag.flag-gy {
    background-position: -192px -55px
}

.flag.flag-hk {
    background-position: -208px -55px
}

.flag.flag-hm {
    background-position: -224px -55px
}

.flag.flag-hn {
    background-position: -240px -55px
}

.flag.flag-hr {
    background-position: 0 -66px
}

.flag.flag-ht {
    background-position: -16px -66px
}

.flag.flag-hu {
    background-position: -32px -66px
}

.flag.flag-ic {
    background-position: -48px -66px
}

.flag.flag-id {
    background-position: -64px -66px
}

.flag.flag-ie {
    background-position: -80px -66px
}

.flag.flag-il {
    background-position: -96px -66px
}

.flag.flag-im {
    background-position: -112px -66px
}

.flag.flag-in {
    background-position: -128px -66px
}

.flag.flag-io {
    background-position: -144px -66px
}

.flag.flag-iq {
    background-position: -160px -66px
}

.flag.flag-ir {
    background-position: -176px -66px
}

.flag.flag-is {
    background-position: -192px -66px
}

.flag.flag-it {
    background-position: -208px -66px
}

.flag.flag-je {
    background-position: -224px -66px
}

.flag.flag-jm {
    background-position: -240px -66px
}

.flag.flag-jo {
    background-position: 0 -77px
}

.flag.flag-jp {
    background-position: -16px -77px
}

.flag.flag-ke {
    background-position: -32px -77px
}

.flag.flag-kg {
    background-position: -48px -77px
}

.flag.flag-kh {
    background-position: -64px -77px
}

.flag.flag-ki {
    background-position: -80px -77px
}

.flag.flag-km {
    background-position: -96px -77px
}

.flag.flag-kn {
    background-position: -112px -77px
}

.flag.flag-kp {
    background-position: -128px -77px
}

.flag.flag-kr {
    background-position: -144px -77px
}

.flag.flag-kurdistan {
    background-position: -160px -77px
}

.flag.flag-kw {
    background-position: -176px -77px
}

.flag.flag-ky {
    background-position: -192px -77px
}

.flag.flag-kz {
    background-position: -208px -77px
}

.flag.flag-la {
    background-position: -224px -77px
}

.flag.flag-lb {
    background-position: -240px -77px
}

.flag.flag-lc {
    background-position: 0 -88px
}

.flag.flag-li {
    background-position: -16px -88px
}

.flag.flag-lk {
    background-position: -32px -88px
}

.flag.flag-lr {
    background-position: -48px -88px
}

.flag.flag-ls {
    background-position: -64px -88px
}

.flag.flag-lt {
    background-position: -80px -88px
}

.flag.flag-lu {
    background-position: -96px -88px
}

.flag.flag-lv {
    background-position: -112px -88px
}

.flag.flag-ly {
    background-position: -128px -88px
}

.flag.flag-ma {
    background-position: -144px -88px
}

.flag.flag-mc {
    background-position: -160px -88px
}

.flag.flag-md {
    background-position: -176px -88px
}

.flag.flag-me {
    background-position: -192px -88px
}

.flag.flag-mg {
    background-position: -208px -88px
}

.flag.flag-mh {
    background-position: -224px -88px
}

.flag.flag-mk {
    background-position: -240px -88px
}

.flag.flag-ml {
    background-position: 0 -99px
}

.flag.flag-mm {
    background-position: -16px -99px
}

.flag.flag-mn {
    background-position: -32px -99px
}

.flag.flag-mo {
    background-position: -48px -99px
}

.flag.flag-mp {
    background-position: -64px -99px
}

.flag.flag-mq {
    background-position: -80px -99px
}

.flag.flag-mr {
    background-position: -96px -99px
}

.flag.flag-ms {
    background-position: -112px -99px
}

.flag.flag-mt {
    background-position: -128px -99px
}

.flag.flag-mu {
    background-position: -144px -99px
}

.flag.flag-mv {
    background-position: -160px -99px
}

.flag.flag-mw {
    background-position: -176px -99px
}

.flag.flag-mx {
    background-position: -192px -99px
}

.flag.flag-my {
    background-position: -208px -99px
}

.flag.flag-mz {
    background-position: -224px -99px
}

.flag.flag-na {
    background-position: -240px -99px
}

.flag.flag-nc {
    background-position: 0 -110px
}

.flag.flag-ne {
    background-position: -16px -110px
}

.flag.flag-nf {
    background-position: -32px -110px
}

.flag.flag-ng {
    background-position: -48px -110px
}

.flag.flag-ni {
    background-position: -64px -110px
}

.flag.flag-nl {
    background-position: -80px -110px
}

.flag.flag-no {
    background-position: -96px -110px
}

.flag.flag-np {
    background-position: -112px -110px
}

.flag.flag-nr {
    background-position: -128px -110px
}

.flag.flag-nu {
    background-position: -144px -110px
}

.flag.flag-nz {
    background-position: -160px -110px
}

.flag.flag-om {
    background-position: -176px -110px
}

.flag.flag-pa {
    background-position: -192px -110px
}

.flag.flag-pe {
    background-position: -208px -110px
}

.flag.flag-pf {
    background-position: -224px -110px
}

.flag.flag-pg {
    background-position: -240px -110px
}

.flag.flag-ph {
    background-position: 0 -121px
}

.flag.flag-pk {
    background-position: -16px -121px
}

.flag.flag-pl {
    background-position: -32px -121px
}

.flag.flag-pm {
    background-position: -48px -121px
}

.flag.flag-pn {
    background-position: -64px -121px
}

.flag.flag-pr {
    background-position: -80px -121px
}

.flag.flag-ps {
    background-position: -96px -121px
}

.flag.flag-pt {
    background-position: -112px -121px
}

.flag.flag-pw {
    background-position: -128px -121px
}

.flag.flag-py {
    background-position: -144px -121px
}

.flag.flag-qa {
    background-position: -160px -121px
}

.flag.flag-re {
    background-position: -176px -121px
}

.flag.flag-ro {
    background-position: -192px -121px
}

.flag.flag-rs {
    background-position: -208px -121px
}

.flag.flag-ru {
    background-position: -224px -121px
}

.flag.flag-rw {
    background-position: -240px -121px
}

.flag.flag-sa {
    background-position: 0 -132px
}

.flag.flag-sb {
    background-position: -16px -132px
}

.flag.flag-sc {
    background-position: -32px -132px
}

.flag.flag-scotland {
    background-position: -48px -132px
}

.flag.flag-sd {
    background-position: -64px -132px
}

.flag.flag-se {
    background-position: -80px -132px
}

.flag.flag-sg {
    background-position: -96px -132px
}

.flag.flag-sh {
    background-position: -112px -132px
}

.flag.flag-si {
    background-position: -128px -132px
}

.flag.flag-sk {
    background-position: -144px -132px
}

.flag.flag-sl {
    background-position: -160px -132px
}

.flag.flag-sm {
    background-position: -176px -132px
}

.flag.flag-sn {
    background-position: -192px -132px
}

.flag.flag-so {
    background-position: -208px -132px
}

.flag.flag-somaliland {
    background-position: -224px -132px
}

.flag.flag-sr {
    background-position: -240px -132px
}

.flag.flag-ss {
    background-position: 0 -143px
}

.flag.flag-st {
    background-position: -16px -143px
}

.flag.flag-sv {
    background-position: -32px -143px
}

.flag.flag-sx {
    background-position: -48px -143px
}

.flag.flag-sy {
    background-position: -64px -143px
}

.flag.flag-sz {
    background-position: -80px -143px
}

.flag.flag-tc {
    background-position: -96px -143px
}

.flag.flag-td {
    background-position: -112px -143px
}

.flag.flag-tf {
    background-position: -128px -143px
}

.flag.flag-tg {
    background-position: -144px -143px
}

.flag.flag-th {
    background-position: -160px -143px
}

.flag.flag-tj {
    background-position: -176px -143px
}

.flag.flag-tk {
    background-position: -192px -143px
}

.flag.flag-tl {
    background-position: -208px -143px
}

.flag.flag-tm {
    background-position: -224px -143px
}

.flag.flag-tn {
    background-position: -240px -143px
}

.flag.flag-to {
    background-position: 0 -154px
}

.flag.flag-tr {
    background-position: -16px -154px
}

.flag.flag-tt {
    background-position: -32px -154px
}

.flag.flag-tv {
    background-position: -48px -154px
}

.flag.flag-tw {
    background-position: -64px -154px
}

.flag.flag-tz {
    background-position: -80px -154px
}

.flag.flag-ua {
    background-position: -96px -154px
}

.flag.flag-ug {
    background-position: -112px -154px
}

.flag.flag-um {
    background-position: -128px -154px
}

.flag.flag-us {
    background-position: -144px -154px
}

.flag.flag-uy {
    background-position: -160px -154px
}

.flag.flag-uz {
    background-position: -176px -154px
}

.flag.flag-va {
    background-position: -192px -154px
}

.flag.flag-vc {
    background-position: -208px -154px
}

.flag.flag-ve {
    background-position: -224px -154px
}

.flag.flag-vg {
    background-position: -240px -154px
}

.flag.flag-vi {
    background-position: 0 -165px
}

.flag.flag-vn {
    background-position: -16px -165px
}

.flag.flag-vu {
    background-position: -32px -165px
}

.flag.flag-wales {
    background-position: -48px -165px
}

.flag.flag-wf {
    background-position: -64px -165px
}

.flag.flag-ws {
    background-position: -80px -165px
}

.flag.flag-ye {
    background-position: -96px -165px
}

.flag.flag-yt {
    background-position: -112px -165px
}

.flag.flag-za {
    background-position: -128px -165px
}

.flag.flag-zanzibar {
    background-position: -144px -165px
}

.flag.flag-zm {
    background-position: -160px -165px
}

.flag.flag-zw {
    background-position: -176px -165px
}